<html>

{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% include 'header.html' %}

{% block content %}

<h2>Enter your credentials:</h2>

<form method="post">

    <div>

       <div class="label">Username</div>
        <div>
            <input type="text" name="username" placeholder="Username">
            <div class="error"> {{username_error}} </div>
        </div>

        <div class="label">Password</div>
        <div>
            <input type="password" name="password" placeholder="Password">
            <div class="error"> {{password_error}} </div>
        </div>

        <div>
            <input name="next_url" value="{{ next_url }}" style="display: none;"/>
        </div>
    </div>

    <input type="submit" value="Signup">

</form>

<div> New user? Register <a href="/wiki/signup">here.</a></div>

{% endblock %}

</html>